@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    if(ViewBag.Error != null)
    {
        <span class="text-danger">@ViewBag.Error</span>
    };
}

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-dark" />
</form>