@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{int counter = 0;}

<a href="/admin/role/create" class="btn btn-success my-2">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Role</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @(counter++)
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <td>#</td>
            </tr>
        }
    </tbody>
</table>