@model IEnumerable<User>
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
<table class="table table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>User email</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Roles</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td>@item.Email</td>
                <td>@item.Firstname</td>
                <td>@item.Lastname</td>
                <td>
                    @{
                        var roles = await _userManager.GetRolesAsync(item);
                        foreach(var role in roles)
                        {
                            <span>@role /</span>
                        }
                    }
                </td>
                <td>
                    <a href="/admin/user/addrole/@item.Id" class="btn btn-info">Add Role</a>
                    <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userid="@item.Id" class="btn btn-warning">Edit Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>